.button {
    font-size: 16px; 
    width: 210px;
    padding: 15px 25px;
    margin-inline: auto;
    border: 5px solid rgb(223, 189, 118);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: rgba(255, 230, 194, 0.425);
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 17px;
    color: #55371e;
}

.button:hover {
    transform: translateY(-8px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.image-box {
    width: 350px; 
    height: auto; 
    margin: 0px;
    border-radius: 15px;
    border: 10px solid rgb(223, 189, 118);
    display: block;
    background-color: rgba(255, 230, 194, 0.425);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-box:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.search {
    border: 3px solid rgb(223, 189, 118);
    border-radius: 20px;
    height: 20px;
    width: 300px;
    font-family: 'Gill Sans';
    font-size: 17px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-indent: 7px;
    background-color: rgba(255, 230, 194, 0.425);

}

.search::placeholder {
    color: gray;
    font-style: bold;
}

.text-box {
    width: 500px; 
    height: 200px; 
    margin: 0px;
    border-radius: 20px;
    border: 10px solid rgb(223, 189, 118);
    display: block;
    background-color: rgba(255, 230, 194, 0.425);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.header {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.header h1 {
    font-family: 'Raleway';
    font-size: 48px;
    margin-bottom: 10px;
    color: #3b2e1a;
    font-weight: 900;
}

.header p {
    font-family: 'Quicksand';
    font-size: 18px;
    margin-bottom: 30px;
    color: #4d3c24;
    width: 857px;
    justify-content: center;
}

.header h3 {
    font-family: 'Quicksand';
    margin: 20px 0 10px 0;
    color: #5a442a;
}

.text {
    width: 500px; 
    overflow: auto; 
    text-align: center; 
    margin: 0; 
    padding-left: 3px;
    font-family: 'Open Sans';
    color:#422912
}

a {
  color: #a86e3c;
  text-decoration: none;
  font-weight: bolder;
  transition: color 0.2s ease;
}

a:hover {
  color: #684423;
  text-decoration: underline;
}

strong {
    color: #a86e3c
}

.footer {
    display: grid; 
    justify-content: center; 
    padding-top: 200px;
    color: #3b2e1a;
    font-family: cursive;
}